body, html{
    background-color: #f8f5f1;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: left;
}

.hide{
    display: none;
}

a{
    text-decoration: none;
}
.minhaLogo{  /*tratando a Logo Tipo*/
    margin: 0%;
    margin-left: 90px;
    width: 260px;
}
.bataoPane{ /*Tratando a div do botão pane*/
    margin: 0%;
    margin-left: 1200px;
    margin-top: -100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: 100px;
    height: 100px;
}
.bataoPane img{ /*Tratando a imagem do botão pane Gif*/
    width: 100px;
    height: 100px;
}
.cameraMuv{ /*Tratando a div da camera de moviementação*/
    width: 100px;
    height: 100px;
    margin: 0%;
    margin-top: -105px;
}
.cameraMuv img{ /*Tratando a imagem da camera de movimentação Gif*/
    width: 100px;
    height: 100px;
}
/*MENU DE ATENÇÃO QUE ESTA A CIMA DA CAIXAE DE INFORMAÇÕES IMPORTANTES*/

.menu-de-atencao{
    display: flex;
    width: 900px;
    height: 50px;
    margin: 0%;
    margin-top: 100px;
    margin-left: -915px;
}
.i-information{ /*Tratando figure da information*/
    width: 35px;
    height: 35px;
    margin: 0%;
    margin-left: -300px;
}
.i-information > img{ /*Tratando da imagem de informações*/
    width: 40px;
    height: 40px;
    margin: 0%;
    margin-left: 295px;
}
.perigo{ /*Tratando figure da imagem perigo*/
    width: 35px;
    height: 35px;
    margin: 0%;
}
.perigo > img{ /*Tratando a imagem perigo*/
    width: 40px;
    height: 40px;
    margin: 0%;
    margin-left: 318px;
}
.liberado{ /*Tratando a fugura que contem a imagem de liberados*/
    width: 35px;
    height: 35px;
    margin: 0%;
}
.liberado > img{ /*Tratando a imagem liberados no menos rápido*/
    width: 40px;
    height: 40px;
    margin: 0%;
    margin-left: 343px;
}
.comida{ /*Tratando a fugura que contem a imagem de comida*/
    width: 35px;
    height: 35px;
    margin: 0%;
} 
.comida > img{ /*Tratando a imagem comida no menos rápido*/
    width: 40px;
    height: 40px;
    margin: 0%;
    margin-left: 365px;
}
.perfil{
    width: 110px;
    height: 110px;
    margin: 0%;
}
.perfil > img{
    width: 90px;
    height: 90px;
    margin: 0%;
    margin-left: 550px;
    margin-top: -100px;
}
.borda{ /*borda em movimento para botões principais do information*/
    margin: 0%;
    margin-top: -3px;
    margin-left: 290px;
    width: 45px;
    height: 44px;
    border-radius: 100%;
    border: 2px dashed #325288;
    position: absolute;
    animation:  rotacao 10s linear infinite;
}
.borda-perigo{/*borda em movimento para botões principais do Perigo*/
    margin: 0%;
    margin-top: -3px;
    margin-left: 313px;
    width: 45px;
    height: 44px;
    border-radius: 100%;
    border: 2px dashed #ff0000;
    position: absolute;
    animation:  rotacao 10s linear infinite;

}
.borda-liberado{/*borda em movimento para botões principais Liberados*/
    margin: 0%;
    margin-top: -3px;
    margin-left: 337px;
    width: 45px;
    height: 44px;
    border-radius: 100%;
    border: 2px dashed #325288;
    position: absolute;
    animation:  rotacao 10s linear infinite;
}
.borda-comida{ /*borda em movimento para botões principais comida*/
    margin: 0%;
    margin-top: -3px;
    margin-left: 360px;
    width: 45px;
    height: 44px;
    border-radius: 100%;
    border: 2px dashed #325288;
    position: absolute;
    animation:  rotacao 10s linear infinite;
}
.borda-pane{ /*Tratando a Borda do botão de pane*/
    margin: 0%;
    margin-left: 10px;
    margin-top: 12px;
    width: 73px;
    height: 73px;
    border-radius: 100%;
    border: 2px dashed #ff0000;
    position: absolute;
    animation:  rotacao 10s linear infinite;
}
@keyframes rotacao{ /*girando a borda da bolinha*/
    0%{
        transform: rotacao(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.borda:hover{ /*mudando a bordar em movimento de cor*/
    border: 2px dashed #f05945;
    transition: 1s;
}
/*PARAGRAFOR DOS BOTÕES PRINCIPAIS A CIMA DA CAIXA DE IMFORMAÇÕES IMPORTANTES*/

#Liber{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    font-size: 15px;
    margin-left: -520px;
    margin-top: -30px;
    color: #ccc;

}
.plantonista{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 320px;
    font-size: larger;
}
.fundo-menu{ /*fondo de todo o menu*/
    background-color: #325288;
    width: 260px;
    height: 1080px;
    border-radius: 5px; 
    margin-top: 100px;
    margin-left: -1270px; 
    padding-top: 5px;
    padding: 5px;
    
}
.nome-paragrafo1{ /*Fundo, Div e Paragrafo MENU*/
    text-align: center;
    background-color: #72147e;
    height: 30px;
    line-height: 30px;
    color: #f8f5f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
}
.botao{ /*Botões*/
    text-align: center;
    background-color: #fa9905;
    height: 40px;
    width: 260px;
    line-height: 40px;
    color: #f8f5f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
    font-size: 13px;
    position: relative;
    z-index: 1;
    
}
.botao a{ /* Link em Geral */
    text-decoration: none;
    color: #f8f5f1;
}
.botao:hover{ /* animação de todos os botões */
    margin-left: 40px;
    background-color: rgba(108, 109, 109, 0.808);
    border-end-end-radius: 0px;
    border-right: solid #fa9905 5px;
    transition: 1s;
}
.imagem-teste{ /* todas a figuras dos botões */
    display: flex;
    margin-top: -68px;
    width: 32px;
    height: 32px;
    padding-left: 5px; 
}

#Atençao{ /*tratando o paragrafor informações a baixo*/
    width: 900px;
    height: 20px;
    background-color: #f05945;
    margin-top: 150px;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -915px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-style: italic;
}

#Atençao2{
    width: 900px;
    height: 20px;
    background-color: #f05945;
    margin-top: 160px;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 385px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-style: italic;
    position: absolute;
}

#inform{ /*Tratando a caixa de informações importantes*/
    margin-top: px;
    width: 894px;
    height: 350px;
    margin-left: -915px;
    border-top: solid 0px;
    color: rgb(83, 77, 77);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#Bt-gravar-infor{   /*tratando o botão gravar informações*/
    width: 200px;
    height: 25px;
    background-color: #f05945;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -215px;
    margin-top: 7px;
    text-align: center;
    color: #fff;
    border-radius: 5px;  
    font-size: 17px; 
}
#Bt-gravar-infor:hover{  /*dando efeito ao botão gravar informações*/
    background-color: #fa9905;
    box-shadow: 0px 2px 10px black;
    color: rgb(122, 56, 54);
    transition: 0.70s;
}
#title-morador{   /*Tratando o titulo de busca ao morador*/
    width: 950px;
    height: 20px;
    background-color: #f05945;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -935px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-style: italic;
}
#title-informacao{ /*Tratando da informação importante aos colaboradores*/
    width: 950px;
    height: 45px;
    background-color: #e7d4b5;
    text-align: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -935px;
    font-size: 15px;
}

/*TRABALHANDO COM AS INFORMAÇÕES REERENTE A TAG MAIN PARA A BUSCA DE MORADORES*/

#Caixa-de-resultados{  /*Formatando section que engloba as funções de resultado de busca*/
    margin-top: 20px;
    width: 894px;
    height: 200px;
    margin-left: -915px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    display: flex;
    background-color: #72147e;
    overflow: auto;
}
#N-casa > input {  /*Tratando do input número da casa */
    width: 50px;
    height: 20px;
    margin: 0%;
    margin-left: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}
#N-casa  > img{ /*Tratando a imagem do input Casa*/
    margin: 0%;
    margin-left: -30px;
    height: 40px;
}
.Select-nome select{ /*Tratando a nossa caixa se selecão aos moradora*/
    margin: 0%;
    margin-left: 30px;
    margin-top: 23px;
    height: 25px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.imagem-lupa {  /*Tratando a imagem da lupa de pesquisa*/
    width: 30px;
    height: 30px;
    margin: 0%;
    margin-left: 10px;
    margin-top: 15px;
}
#englobando-imagem{ /*Tratando a div que engloba a imagem do morador*/
    margin: 0%;
    margin-left: 75px;
    margin-top: 10px;
    width: 260px;
    height: 300px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#englobando-imagem img { /*Tratando a imagem do morador Exemplo:*/
    margin: 0%;
    width: 250px;
    height: 290px;
    background-color: #fff;
    border-radius: 5px;
    
}
.as-informaçoes{
    margin: 0%;
    background-color: #f8f5f1;
    width: 600px;
    height: 400px;
    margin-top: 80px;
    margin-left: -870px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#liberando{
    margin: 0% ;
    width: 570px;
    height: 200px;
    margin-top: 280px;
    margin-left: -585px;
    align-items: center;

}   

.as-informaçoes input{
    margin: 0%;
    width: 400px;
    height: 22px;
    border: 0px;
    border-radius: 5px;
    margin-left: 165px;
    margin-top: -20px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.as-informaçoes p{
    color: rgb(167, 163, 163);
    margin: 0px;
    width: 150px;
    margin-top: 15px;
    font-size: 13px;
    margin-left: 25px;
}


.liberandos{
    width: 170px;
    height: 15px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Status{
    width: 185px;
    height: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#Veículo{
    width: 90px;
    height: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Nvisita{
    width: 528px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.id{
    border: 1px solid rgb(180, 27, 27);
    width: 120px;
    height: 20px;
}

.cor{
    width: 100px;
    height: 15px;

}

.placa{
    width: 100px;
    height: 15px;
}

#imagem-visitante{
    margin: 0%;
    margin-left: 721px;
    margin-top: -70px;
    width: 130px;
    height: 155px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem-visitante img{
    margin: 0%;
    width: 120px;
    height: 145px;
    background-color: #fff;
    border-radius: 5px;
    
}

#veículo-visitante{
    margin: 0%;
    margin-left: 592px;
    margin-top: -157px;
    width: 125px;
    height: 110px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#veículo-visitante img{
    margin: 0%;
    width: 115px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    
}

#bt-liberar{
    margin: 0%;
    width: 120px;
    height: 30px;
    margin-left: 595px;
    margin-top: 15px;
    border: solid 1px #ccc;
    border-radius: 0px 5px 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bt-liberar:hover{
    border: 1px dashed #883232;
    background-color: #b97272;
}





/*

                                        TELA CADASTRO DE MORADORES                                                         

A PARTIR DESTE  PONTO DAREMOS INÍCIO A FORMATAÇÃO DA PÁGINA  DE CADASTRO DE MORADORES, ATENTANDO-SE QUE ALGUMAS FORMATAÇÕES 
JÁ ESTÃO PRONTAS POR CONTA DA NOSSA PRIMEIRA PÁGINA (TELA PRINCIPAL DO SISTEMA) POR EXEMPLO (OS DOIS MENUS O BOTÃO DE PANE 
AS PRINCIPAIS LOGO ENTRE OUTRAS COISAS) ENTÃO ESTE PONTO DE PARTIDA SE INÍCIA DA PARAGRAFO -> CADASTRO DE MORADORES
EM DIANTE !

*/


/*
TODO RESGIÃO DO FORMULÁRIO DE CADASTRO DE MORADORES 
*/

#Form-cadastro{
    width: px;
    margin-left: 335px;
    height: 400px;
}

#cont-input{
    margin-top: 10px;
    width: 450px;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    overflow: auto;
    margin-left: 20px;
}

.ap{
    width: 90px;
    border: 1px solid rgb(146, 143, 143);
}

.tel{
    width: 200px;
    border: 1px solid rgb(146, 143, 143);
}

#cont-input input{
    margin: 5px;
    height: 25px;
    border-radius: 5px;
}

.cod{
    width: 90px;
    border: 1px solid rgb(180, 81, 81);
}

.moradorC{
    width: 252px;
    margin-top: 35px;
    border: 1px solid rgb(180, 81, 81);
}

#doc{
    width: 190px;
    font-size: 17px;
    color: rgb(27, 27, 131);
    border: 1px solid rgb(180, 81, 81);
}

.nascimento{
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 1px solid rgb(180, 81, 81);
}

.chack{
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 235px;
    margin-top: -35px;
}

.chack-sexo{
    margin-left: 238px;
    margin-top: -35px;
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
}

.email{
    width: 420px;
    border: 1px solid rgb(180, 81, 81);
}

.Define-def{
    width: 350px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    text-align: center;
}
.type-def{
    width: 420px;
    border: 1px solid rgb(146, 143, 143);
}
#def{
    width: 80px;
    height: 20px;
}

#cont-input input:hover{
    background-color: rgb(245, 243, 243);
    border: 1px solid rgb(146, 143, 143);
}

#chack-defok{
    margin-left: 5px;
    width: 350px;
    display: flex;
    text-align: center;
    align-items: center;
}

/*   FIM DAS CONFIHGURAÇÃO DO FORMULÁRIO DE CADASTRO DE MORADOR  */
#fotografia{
    
    display: flex;
    height: 350px;
    width: 350px;
    margin: 0%;
    margin-left: 35px;
    margin-top: 180px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    margin: 0%;
    height: 300px;
    width: 400px;
    margin-left: 500px;
    margin-top: -390px;
    
}


.container .wrapper{
    margin: 0%;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: 1px dashed red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper.active{
    border: none;
}

.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon{

    font-size: 160px;
    color: #fa9905;
}

.wrapper .text{
    font-size: 20px;
    color: #fa9905
}

.wrapper #sair-bt{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fa9905;
    display: none;
}

.wrapper.active:hover #sair-bt{
    display: block;
}
.wrapper #sair-bt:hover{
    color: red;
}


.wrapper .nome-aquivo{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 3px 0;
    font-size: 18px;
    background: linear-gradient(135deg, #fa9905 0%,#ff0000 100%);
    display: none;
}

.wrapper.active:hover .nome-aquivo{
    display: block;
    transition: 2s;
}

#fotografia button{
    margin-top: 340px;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(135deg, #fa9905 0%,#ff0000 100%);

}

#fotografia button:hover{
    background: #fa9905 50%;
    color: rgb(180, 27, 27);
}

#fotografia button:active{
    background: #ff0000 50%;
}

#custom-btn{
    margin-left: 20px;
}

#btn-sair{
    margin-top: -30px;
    margin-left: 20px;
}

#btn-salvar{
    margin-top: 300px;
    margin-left: -290px;
}
#resultado{
    margin: 0%;
    padding: 0%;
    color: rgb(82, 80, 80);
    margin-top: 600px;
    margin-left: -900px;
    width: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

#resultado-select{
    margin: 0%;
    padding: 0%;
    color: rgb(82, 80, 80);
    background-color: rgb(92, 88, 88);
    margin-top: 20px;
    margin-left: -900px;
    width: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px; 
}

#tabalinha{
    margin: 0%;
    margin-left: -915px;
    width: 920px;
    background-color: #ccc;
    border-radius: 10px;
    
}

.table{
    width: 920px;
    background-color: rgb(233, 233, 233);
    display: block;
    height: 500px;
    overflow-y: auto;
    padding-left: 20px;

}

.table th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
}

.ref-cod{
    font-size: 18px;
}

.table tr{
    margin: 0%;
    margin-left: -900px;
    width: 950px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
    
    
}
tbody{
    width: 1000px;
    padding: 10px;
    text-align: center;  
}

#btn-delet{
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(135deg, #941919 0%,#ff0000 100%);
    margin-left: 10px;
}
#btn-delet:hover{
    background: #fa9905 50%;
    color: rgb(180, 27, 27);
}

#btn-delet:active{
    background: #ff0000 50%;
}

.fone{
    margin: 0%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(165, 157, 157);
}

.user{
    margin: 0%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(165, 157, 157);
}


#mostra_fot{
    border-radius: 5px;
    width: 100px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.casa{
    margin: 0%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(165, 157, 157);
}

.table::-webkit-scrollbar{
    width: 7px;
}

.table::-webkit-scrollbar-thumb{
    background-color: #fa9905;
    border-radius: 5px;
}


/*
TRABALHANDO COM A TABELA QUE NOS TRAZ OS REGSITROS DOS MORADORES DA NOSSA PAGINA, HOME PAGINA PRINCIPAL ONDE
OS USUÁRIOS VAI OBTER OS TELEFONES PARA CONTATO, NOEM, FOTO ETC... 
*/

#tabalinha-home{
    margin: 0%;
    margin-left: -935px;
    background-color: #ccc;
    width: 950px;
    margin-top: -40px;
}

.table-home{
    width: 950px;
    background-color: rgb(233, 233, 233);
    display: block;
    height: 500px;
    overflow-y: auto;
    padding-left: 20px;
    border-radius: 5px;
}

#tabalinha-home .table-home th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
}

#tabalinha-home .ref-cod{
    font-size: 18px;
}

#tabalinha-home .table-home tr{
    margin: 0%;
    margin-left: -900px;
    width: 950px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#tabalinha-home tbody{
    width: 1000px;
    padding: 10px;
    text-align: center;   
}

#tabalinha-home .table-home::-webkit-scrollbar{
    width: 7px;
}

.table-home::-webkit-scrollbar-thumb{
    background-color: #f05945;
    border-radius: 5px;
    
}
/*---------------------------------------------------------------------------------------------------------*/
#as-visitas{
    margin: 0%;
    width: 900px;
    height: 400px;
    margin-left: 200px;

}

#Form-visitantes{
    margin: 0%;
    width: 900px;
    height: 400px;
    margin-top: 200px;
    color: aqua;
    background-color: #ff0000;
    margin-left: 200px;
    position: relative;
}



/*
FORMATAÇÃO DA PAGONA DE FOMULÁRIO
*/

#centralizando{
    margin-left: -180px;
    margin-top: -80px;
    position: absolute;
    z-index: 0;
}

.titulando-form{
    margin: 0%;
    font-size: 30px;
    margin-left: 430px;
    margin-top: 20px;
    font-family: Playfair Display SC;
    position: absolute;
    z-index: 0;
}

.conteiner-floter{
    margin-top: 180px;
    margin-left: 400px;
    position: absolute;
    z-index: 1;
}

.barrabr{
    width: 520px;
    border: 0.1px solid #b8b5b5;
    margin-left: 10px;
    border-radius: 50px;
    margin: 10px;
}

.floter{
    width: 550px;
    height: 330px;
    background-color: #dbd7d7f3;
    border-radius: 10px;
    text-align: center;
}

.conteiner-floter .floter h2{
    margin: 0%;
    padding-top: 20px;
    margin-left: 10px;
    font-family: Nunito;
    font-size: 30px;
}


.descricion{
    margin-left: 20px;
    width: 500px;
    text-align: center;
}
.conteiner-floter .floter samp{
    font-family: DM Mono;
}

.conteiner-floter .floter p{
    font-family: DM Mono;
    color: #941919;
    margin: 0%;
}

.btn-fechar{
    margin-left: 90px;
    margin: 0%;
    margin-top: 15px;
    width: 80px;
    height: 30px;
    background-color: rgb(143, 143, 143);
    border: 0px;
}

.btn-fechar:hover{
    border: 1px solid black;
    cursor: pointer;
}

